{% extends 'hogar/dashboard.html' %}

{% block content %}
<div class="container">
        {% if object_list %}
        {% for asignada in object_list %}
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{asignada.tarea.nombre}}</h5>
            <p class="card-text">
             Tarea Asiganda a:
              <br>{{asignada.usuario.username}}
            </p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{asignada.tarea.nombre}}" aria-expanded="false" aria-controls="collapseExample">
              Detalles
            </button>
            {% if request.session.es_administrador %}
            <a class="btn btn-primary" href="#">Modificar</a>
            <a class="btn btn-danger" href="#">Eliminar</a>
            {% endif %}
            <div class="collapse" id="{{asignada.tarea.nombre}}">
              <div class="card card-body">
                <br>Comentario tarea : {{asignada.tarea.comentarios}}
                <br>Complejidad tarea : {{asignada.tarea.complejidad}}
                <br>Duracion tarea : {{asignada.tarea.duracion}}
                <br>Dependencia tarea : {{asignada.tarea.dependencia}}
                <br>Fecha de creacion : {{asignada.tarea.fecha_creacion}}
                <br>Estado completada : {{asignada.tarea.completada}}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
</div>

</div>
{% endblock content%}

