{% extends 'hogar/dashboard.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="sub-container">
            <h1 class="display-4">Tareas Completadas y Pendientes</h1>
            <p class="lead">Aquí podrás obsertar tus tareas completadas y pendientes, completa las pendientes lo antes posibles y no olvides notificar al administrador.</p>
        </div>
        <div class='card-deck'>
            <div class="card border-primary mb-3">
                <h2>Completadas</h2>
                {% if asignaciones_completadas %}

                    {% for asignada in asignaciones_completadas %}
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title" style="color: black;">{{ asignada.tarea.nombre }}</h3>
                                <p class="card-text">
                                    Felicidades, tarea completada, has obtenido {{ asignada.tarea.get_puntaje }} puntos de recompensa.
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-all" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14l.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
                                    </svg>
                                <h5 style="color:Tomato;">Comentario: </h5>{{ asignada.tarea.comentarios }}
                                </p>
                                <div class="row">
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ asignada.tarea.pk }}" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 10px;">
                                        <span style="font-size: 15px;">Detalles </span><i class="fa fa-comment fa-lg"></i>
                                    </button>

                                </div>
                                <div class="collapse" id="{{ asignada.tarea.pk }}">
                                    <div class="card card-body">
                                        <br>Complejidad tarea : {{ asignada.tarea.complejidad }}
                                        <br>Duracion tarea : {{ asignada.tarea.duracion }}
                                        <br>Dependencia tarea : {{ asignada.tarea.dependencia }}
                                        <br>Fecha de creacion : {{ asignada.tarea.fecha_creacion }}
                                        <br>Estado completada : {{ asignada.tarea.completada }}
                                        <br>Puntos conseguidos: {{ asignada.tarea.get_puntaje }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="card border-primary mb-3">
                <h2>Pendientes</h2>
                {% if asignaciones_no_completadas %}
                    {% for asignada in asignaciones_no_completadas %}
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title" style="color: black;">{{ asignada.tarea.nombre }}</h3>
                                <p class="card-text">
                                    Debes realizar esta tarea, lo antes posible
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hourglass-split" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0c0 .701.478 1.236 1.011 1.492A3.5 3.5 0 0 1 11.5 13s-.866-1.299-3-1.48V8.35z"/>
                                    </svg>
                                <h5 style="color:Tomato;">Comentario: </h5>{{ asignada.tarea.comentarios }}
                                </p>
                                <div class="row">

                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ asignada.tarea.pk }}" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 10px;">
                                        <span style="font-size: 15px;">Detalles </span><i class="fa fa-comment fa-lg"></i>
                                    </button>

                                    <form method="post" id=upload_{{ asignada.id }} action="" enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        <input type='hidden' value='{{ asignada.id }}' name='id_asignada'>
                                        <input type="hidden" value="notifica_lograda" name="tipo">
                                        <button type="submit" class="btn btn-success" style="margin-left: 15px;">
                                            <span style="font-size: 15px;">Notificar tarea lograda </span><i class="fa fa-check fa-lg"></i>
                                        </button>
                                    </form>


                                    <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#just" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 10px;">
                                        <span style="font-size: 15px;">Objetar </span>
                                    </button>


                                </div>
                                <div class="collapse" id="{{ asignada.tarea.pk }}">
                                    <div class="card card-body">
                                        <br>Complejidad tarea : {{ asignada.tarea.complejidad }}
                                        <br>Duracion tarea : {{ asignada.tarea.duracion }}
                                        <br>Dependencia tarea : {{ asignada.tarea.dependencia }}
                                        <br>Fecha de creacion : {{ asignada.tarea.fecha_creacion }}
                                        <br>Estado completada : {{ asignada.tarea.completada }}
                                        <br>Puntos tarea: {{ asignada.tarea.get_puntaje }}
                                    </div>
                                </div>


                                <div class="collapse" id="just">
                                    <form method="post" id=upload_{{ asignada.id }} action="" enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        <div class="card card-body">
                                            <br>Justificación:
                                            <input type="text" id="justificacion" name="justificacion"><br><br>
                                        </div>
                                        <input type='hidden' value='{{ asignada.id }}' name='id_asignada'>
                                        <input type="hidden" value="notifica_objetar" name="tipo">
                                        <button type="submit" class="btn btn-success" style="margin-left: 15px;">
                                            <span style="font-size: 15px;">Confirmar</span><i class="fa fa-check fa-lg"></i>
                                        </button>
                                    </form>
                                </div>


                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <a class="btn btn-success btn-lg" href="../listar/asignadas">Ver Tareas Hogar
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
        </a>
    </div>

    <script>
        function puntaje() {

        }
    </script>
{% endblock content %}
