{% extends 'hogar/dashboard.html' %}

{% load static %}

{% block content %}
    <!--Esta plantilla es utilizada por las vistas CrearTarea , AsignarTarea-->
    <div class="jumbotron">
        <div id="dummy"></div>
        <div class="card-deck">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ name }}</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="col-md-30">
                                <div class="form-group">
                                    {{ field.label }}:
                                    <p>
                                        {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block" id="enviar">Guardar</button>
                    </form>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 30rem;">
                <div class="card-body">
                    <p class="card-text">


                        {% if name == "Añadir Nueva Tarea" %}
                            <!-- Panel lateral para añadir tareas rapidas -->
                            <div class="col" style="margin-block: 10px;">
                                <!-- Limpiar -->
                                <div class="row">
                                    <div class="col col-md-8">
                                        <select name="dependencia" class="form-control" required="" id="id_nativa_dependencia">
                                            {% for value in form.dependencia %}
                                                {{ value }}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col col-md-4">
                                        <button type="button" class="btn btn-primary" style="font-size: medium;" onclick="nativa_limpiar();">
                                            <span style="font-size: 15px;">Limpiar<i class="fa fa-info-circle" style="margin-left: 5px"></i></span>
                                        </button>
                                    </div>
                                </div>
                                <!-- Cocinar -->
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col col-md-8">
                                        <select name="dependencia" class="form-control" required="" id="id_nativa_comidas">
                                            <option>----------</option>
                                            <option>Tallarines con salsa</option>
                                            <option>Pollo asado con papas fritas</option>
                                            <option>Lentejas</option>
                                        </select>
                                    </div>
                                    <div class="col col-md-4">
                                        <!-- btn cocinar -->
                                        <button type="button" class="btn btn-primary" style="font-size: medium;" onclick="nativa_cocinar();">
                                            <span style="font-size: 15px;">Cocinar<i class="fa fa-cutlery" style="margin-left: 5px"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>


                        {% elif name == "Asignar Tarea" %}
                            Podra asignar las tareas a los usuarios del grupo hogar
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <!-- Script de tareas nativas -->
    <script>
        function nativa_limpiar() {
            document.getElementById('id_dependencia').value = document.getElementById('id_nativa_dependencia').value;
            document.getElementById('id_nombre').value = "Debe limpiar";
            // Al acabar de llenar el formulario
            document.getElementById('enviar').click();
        }
        function nativa_cocinar() {
            alert("cocinar");
        }
    </script>

    <!-- Script de alerta -->
    <script>
        if (document.getElementById('id_dependencia').childElementCount === 1) {
            document.getElementById('id_nombre').disabled = true;
            document.getElementById('id_complejidad').disabled = true;
            document.getElementById('id_duracion').disabled = true;
            document.getElementById('id_dependencia').disabled = true;
            document.getElementById('id_comentarios').disabled = true;
            document.getElementById('enviar').disabled = true;
            document.getElementById('dummy').innerHTML = '<div class="alert alert-dismissible alert-warning" style="max-width: 670px"><button type="button" class="close" data-dismiss="alert">&times;</button><h4 class="alert-heading">Atención!</h4><p class="mb-0"></p>Antes de Añadir una tarea es necesario añadir una dependencia al domicilio</div>'
        }
    </script>
{% endblock %}
