{% extends 'hogar/dashboard.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col col-md-3">
                <div class="card border-primary mb-3" style="max-width: available;">
                    <div class="card-body" style="margin: 20px;">
                        <!-- Formulario de Cocinar -->
                        {% include 'tareas/formularios_distribucion/form_distribucion_cocinar.html' %}
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="card border-primary mb-3" style="max-width: available;">
                    <div class="card-body" style="margin: 20px;">
                        <!-- Formulario de limpieza -->
                        {% include 'tareas/formularios_distribucion/form_distribucion_limpiar.html' %}
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="card border-primary mb-3" style="max-width: available;">
                    <div class="card-body" style="margin: 20px;">
                        <!-- Formulario de pagar cuentas -->
                        {% include 'tareas/formularios_distribucion/form_distribucion_cuentas.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}