{% extends 'hogar/dashboard.html' %}

{% load static %}

{% block staticextra %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css"/>
    <link rel="stylesheet" media="print" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.print.css"/>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        #top,
        #calendar.fc-unthemed {
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        }

        #top {
            background: #eee;
            border-bottom: 1px solid #ddd;
            padding: 0 10px;
            line-height: 40px;
            font-size: 12px;
            color: #000000;
        }

        #top .selector {
            display: inline-block;
            margin-right: 10px;
        }

        #top select {
            font: inherit; /* mock what Boostrap does, don't compete  */
        }

        .left {
            float: left
        }

        .right {
            float: right
        }

        .clear {
            clear: both
        }

        #calendar {
            max-width: 900px;
            margin: 20px auto;
            padding: 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css">


    <body>
    {{ kwargs.dependencia_disponible }}

    <div class="jumbotron hoverable p-4">
        <div class="row">
            <div class="col-md-3 mx-2 my-2">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Calendarización de actividades</div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="col-md-30">
                                <div class="form-group">
                                    Lista de tareas asignadas:
                                    <p></p>
                                    {{ form.asignar_tarea }}
                                </div>
                            </div>
                            <div class="col-md-30">
                                <div class="form-group">
                                    Seleccione Fecha/Hora:
                                    <p></p>
                                    {{ form.start }}
                                </div>
                            </div>
                            <label for="sel1"></label>

                            <script type="text/javascript">
                                $(function () {
                                    $.fn.datetimepicker.defaults.icons = {
                                        time: 'fa fa-clock-o',
                                        date: 'fa fa-calendar',
                                        up: 'fa fa-chevron-up',
                                        down: 'fa fa-chevron-down',
                                        previous: 'fa fa-chevron-left',
                                        next: 'fa fa-chevron-right',
                                        today: 'fa fa-dot-circle-o',
                                        clear: 'fa fa-trash',
                                        close: 'fa fa-times'
                                    };
                                    $('#id_start').datetimepicker({
                                        format: 'DD/MM/YYYY HH:mm'
                                    });
                                });
                            </script>
                            <input type="submit" class="btn btn-primary btn-block" value="Calendarizar"/>
                        </form>
                    </div>
                </div>
            </div>

            {{ valida }}

            <div class="col-md-8">
                <div id='calendar' style="height:1200px;width:1200px;"></div>
                <div id="data" hidden>{{ events }}</div>
                <script>
                    var events = eval($('#data').text());
                    console.log(events);
                    $(document).ready(function () {
                        $('#calendar').fullCalendar({
                            header: {
                                left: 'title',
                                center: '',
                                right: 'today prev,next'
                            },
                            // Se bugean los botones con bootstrap
                            // Ya arreglare esto quizas cuando u.u
                            // Manuel
                            //themeSystem: 'bootstrap3',
                            weekNumbers: true,
                            navLinks: true, // can click day/week names to navigate views
                            editable: false,
                            eventLimit: false, // allow "more" link when too many events
                            events: events //events block
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    </body>
{% endblock %}

{% block extrajs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'almanac_calendar/moment.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}