@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFfFFF;
  max-width: 360px;
  margin: 0 auto 200px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2%;
}

.form .register-form {
  display: none;
}

body {
  background: #0c83e2; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #0c83e2, #2196F3);
  background: -moz-linear-gradient(right, #0c83e2, #2196F3);
  background: -o-linear-gradient(right, #0c83e2, #2196F3);
  background: linear-gradient(to left, #0c83e2, #2196F3);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}