#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#popup_notifica {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin: 120px auto 0;
    position: relative;
    padding: 10px;
    width: 500px;
    min-height: 250px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #666666;
}

.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close {
    position: absolute;
    right: 15px;
}