{% extends 'base/base2.html' %}

{% load static %}

{% block content %}

  <div class="jumbotron">
    <h1 class="display-3">Buenas Buenas</h1>
    <p class="lead">Pagina Alfa del administrador.</p>
    <hr class="my-4">
    <div class="container">
        <div class="card-columns mt-3">
            {% if usuario.es_administrador%}
            <div class="card border-secondary mb-2" style="max-width: 20rem;">
                <div class="card-header">Nuevo integrante</div>
                <div class="card-body">
                <h4 class="card-title">Añadir nuevo usuario</h4>
                <p class="card-text">Añade un nuevo usuario del hogar al organizador. </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/hogar/añadir" role="button">Click</a>
                </p>
                </div>
            </div>
            <div class="card border-secondary mb-2" style="max-width: 20rem;">
                <div class="card-header">Administrar</div>
                <div class="card-body">
                <h4 class="card-title">Administrar usuario</h4>
                <p class="card-text">Administrar a los usuarios participantes en el organizador, añadiendo/eliminando/modificando</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/hogar/list_usuarios" role="button">Click</a>
                </p>
                </div>
            </div>
            <div class="card border-secondary mb-2" style="max-width: 20rem;">
                <div class="card-header">Tareas</div>
                <div class="card-body">
                <h4 class="card-title">Añadir tareas</h4>
                <p class="card-text">Podra añadir nuevas tareas y mostrar las existentes</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/tareas/tarea_form" role="button">Agregar</a>
                    <a class="btn btn-primary btn-lg" href="/tareas/listar_tareas" role="button">Mostrar</a>
                </p>
                </div>
            </div>
            <div class="card border-secondary mb-2" style="max-width: 20rem;">
                <div class="card-header">Tareas</div>
                <div class="card-body">
                <h4 class="card-title">Asignar Tareas</h4>
                <p class="card-text">Podra asignar las tareas a los usuarios del grupo hogar</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/tareas/asignar_tarea" role="button">Asignar</a>
                </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

  </div>

{% endblock %}
