{% extends 'base/base.html' %}

{% load static %}


{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Organizador</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="nav_inicio">
                    <a class="nav-link" href="/hogar">Inicio</a>
                </li>
                {% if request.session.es_administrador %}
                    <li class="nav-item dropdown" id="nav_administrar">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrar</a>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" href="/hogar/usuarios/agregar" id="nav_administrar_agregar">Añadir usuario al hogar</a>
                            <a class="dropdown-item" href="/hogar/usuarios/listar" id="nav_administrar_listar">Modificar usuario del hogar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" id="nav_domicilio">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Domicilio</a>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" href="/hogar/domicilio/modificar" id="nav_domicilio_modificar">Modificar domicilio</a>
                            <a class="dropdown-item" href="/hogar/domicilio/dependencias" id="nav_domicilio_dependencias">Añadir o quitar dependencias</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown" id="nav_tareas">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tareas</a>
                    <div class="dropdown-menu" style="">
                        {% if request.session.es_administrador %}
                            <a class="dropdown-item" href="/tareas/crear/" id="nav_tareas_crear">Añadir tareas</a>
                            <a class="dropdown-item" href="/tareas/asignar/" id="nav_tareas_asignar">Asignar Tareas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/tareas/distribuir/" id="nav_tareas_distribucion">Distribución rapida</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item" href="/tareas/listar/" id="nav_tareas_listar">Ver mis tareas</a>
                        <a class="dropdown-item" href="/tareas/listar/asignadas/" id="nav_tareas_asignadas">Ver tareas asignadas en hogar</a>
                    </div>
                </li>
                <li class="nav-item dropdown" id="nav_horarios">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Horarios</a>
                    <div class="dropdown-menu" style="">
                        <a class="dropdown-item" href="/calendario/mostrar" id="nav_horarios_mostrar">Calendario</a>
                        <a class="dropdown-item" href="/calendario/agregar_horario_ocupado" id="nav_horarios_agregar_horario_ocupado">Agregar horario ocupado</a>
                    </div>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button class="btn btn-primary btn-lg" onclick="cerrar_sesion()">Cerrar Sesión</button>
            </div>
        </div>
    </nav>
    <script type="text/javascript">
        let nav = window.location.pathname.split('/');
        let filtered = nav.filter(function (el) {
            return el != "";
        });
        if (filtered.length === 1) {
            if (filtered[0].localeCompare("hogar") === 0) {
                document.getElementById('nav_inicio').classList.add('active');
            }
        } else if (filtered.length === 2) {
            if (filtered[0].localeCompare('tareas') === 0) {
                document.getElementById('nav_tareas').classList.add('active');
                if (filtered[1].localeCompare('crear') === 0) {
                    document.getElementById('nav_tareas_crear').classList.add('active');
                }
                if (filtered[1].localeCompare('asignar') === 0) {
                    document.getElementById('nav_tareas_asignar').classList.add('active');
                }
                if (filtered[1].localeCompare('listar') === 0) {
                    document.getElementById('nav_tareas_listar').classList.add('active');
                }
                if (filtered[1].localeCompare('distribuir') === 0) {
                    document.getElementById('nav_tareas_distribucion').classList.add('active');
                }
            }
            if (filtered[0].localeCompare('calendario') === 0) {
                document.getElementById('nav_horarios').classList.add('active');
                if (filtered[1].localeCompare('mostrar') === 0) {
                    document.getElementById('nav_horarios_mostrar').classList.add('active');
                }
                if (filtered[1].localeCompare('agregar_horario_ocupado') === 0) {
                    document.getElementById('nav_horarios_agregar_horario_ocupado').classList.add('active');
                }
            }
        } else if (filtered.length === 3) {
            if (filtered[0].localeCompare('hogar') === 0) {
                if (filtered[1].localeCompare('usuarios') === 0) {
                    document.getElementById('nav_administrar').classList.add('active');
                    if (filtered[2].localeCompare('agregar') === 0) {
                        document.getElementById('nav_administrar_agregar').classList.add('active');
                    }
                    if (filtered[2].localeCompare('listar') === 0) {
                        document.getElementById('nav_administrar_listar').classList.add('active');
                    }
                } else if (filtered[1].localeCompare("domicilio") === 0) {
                    document.getElementById('nav_domicilio').classList.add('active');
                    if (filtered[2].localeCompare('modificar') === 0) {
                        document.getElementById('nav_domicilio_modificar').classList.add('active');
                    }
                    if (filtered[2].localeCompare('dependencias') === 0) {
                        document.getElementById('nav_domicilio_dependencias').classList.add('active');
                    }
                }
            }
        }
    </script>
    <script>
        function cerrar_sesion() {
            $('#popup').fadeIn('slow');
            $('.popup-overlay').fadeIn('slow');
            $('.popup-overlay').height($(window).height());
            return false;
        }

        $(document).ready(function () {
            $('#close').on('click', function () {
                $('#popup').fadeOut();
                $('.popup-overlay').fadeOut('slow');
                return false;
            });
        });
    </script>
    <!-- Poup cerrar sesión -->
    {% include 'popups/cerrar_sesion.html' %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col col-sm-7">
                <h2 class="display-4"><strong>Bienvenido</strong><br>al Organizador de su Hogar.</h2>
                <p class="lead">Mantengase al tanto de sus compromisos y colabore con las tareas del hogar.</p>
            </div>
            <div class="col col-sm-5 align-right">
                {% if request.session.es_administrador %}
                    {% if qs_notifica_completada.count > 0 or qs_notifica_objetar.count > 0 %}
                        <div class="card border-primary mb-3">
                            <div class="card-header">Notificaciones de tareas</div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tbody>
                                    {% for asignada_tarea in qs_notifica_completada %}
                                        <div class="col">
                                                <div class="row alert alert-success">
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <input type='hidden' value='{{ asignada_tarea.id }}' name='id_asignada'>
                                                        <input type="hidden" value="notifica_completada" name="tipo">
                                                        <input type='checkbox' style="display:none" id="checkbox_{{ asignada_tarea.id }}" name='asignada_status'>
                                                        <div class="col-sm-6">
                                                            <strong>{{ asignada_tarea.usuario }} notifica su tarea {{ asignada_tarea.tarea }} como cumplida</strong>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <button type="submit" class="btn btn-danger" style="font-size: medium;"><span style="font-size: 15px;">Rechazar <i class="fa fa-times fa-lg"></i></span></button>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <button type="submit" class="btn btn-primary" style="font-size: medium;" onclick="document.getElementById('checkbox_{{ asignada_tarea.id }}').click()"><span style="font-size: 15px;">Aceptar<i class="fa fa-check fa-lg"></i></span></button>
                                                        </div>
                                                    </form>
                                                </div>
                                        </div>
                                    {% endfor %}
                                    {% for asignada_tarea in qs_notifica_objetar %}
                                        <div class="col">
                                                <div class="row alert alert-dark">
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <input type='hidden' value='{{ asignada_tarea.id }}' name='id_asignada'>
                                                        <input type="hidden" value="notifica_objetar" name="tipo">
                                                        <input type='checkbox' style="display:none" id="checkbox_{{ asignada_tarea.id }}" name='asignada_status'>
                                                        <div class="col-sm-6">
                                                            <strong>{{ asignada_tarea.usuario }} objeta su tarea {{ asignada_tarea.tarea }} porque {{ asignada_tarea.justificacion }}</strong>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <button type="submit" class="btn btn-danger" style="font-size: medium;"><span style="font-size: 15px;">Rechazar <i class="fa fa-times fa-lg"></i></span></button>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <button type="submit" class="btn btn-primary" style="font-size: medium;" onclick="document.getElementById('checkbox_{{ asignada_tarea.id }}').click()"><span style="font-size: 15px;">Aceptar<i class="fa fa-check fa-lg"></i></span></button>
                                                        </div>
                                                    </form>
                                                </div>
                                        </div>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}


                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}