{% extends 'base/base.html' %}

{% load static %}

{% block title %}
Iniciar Sesión
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="login-page">
	<div class="form">
	<form method="POST">
	{% csrf_token %}
		<div class="col-md-30">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="Nombre de usuario" required>
			</div>
		</div>
		<div class="col-md-30">
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="Contraseña" required>
			</div>
		</div>
		<div class="col-md-30">
			<div class="form-group">
				<input class="btn btn-primary btn-block" type="submit" value="Ingresar">
			</div>
		</div>
		<div class="col-md-30">
			¿No tienes una cuenta? <a href="/register/">Regístrate</a>
		</div>
		{% for message in messages %}
		<p><h4>{{message}}</h4></p>
		{% endfor %}
</form>
</div>
</div>
{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock extrastatic %}
{% endblock %}
