{% extends 'base/base.html' %}

{% load static %}

{% block title %}
Registrarse
{% endblock %}

{% block content %}
<div class="login-page">
	<div class="form">
	<form method="POST">
	{% csrf_token %}
	{% for field in form %}
	<div class="col-md-30">
		<div class="form-group">
    	{{ field }}
		</div>
	</div>
	{% endfor %}
	{% for field in form2 %}
	<div class="col-md-30">
		<div class="form-group">
    	{{ field }}
		</div>
	</div>
	{% endfor %}
	<div class="col-md-30">
		<div class="form-group">
			<input class="btn btn-primary btn-block" type="submit" value="Regístrar">
		</div>
	</div>
	<div class="col-md-30">
		<p style="color:black;">¿Ya tienes una cuenta? <a style="color:blue;" href="/login/">Iniciar sesión</a></p>
	</div>
	</form>
	</div>
	{% for message in messages %}
	<p><h4 style="color:black;">{{message}}</h4></p>
	{% endfor %}
</div>
{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock extrastatic %}
{% endblock %}
