{% extends 'base/base.html' %}

{% load static %}

{% block staticextra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Organizador</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse form-inline" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/nosotros/">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacto/">Contacto</a>
      </li>
    </ul>
    <a class="btn btn-primary btn-outline-secondary btn-lg" href="/login/">Iniciar Sesión</a>
  </div>
</nav>
{% endblock %}

{% block content %}
{% if content == 'home_content' %}
    {% include 'interfaz/home_content.html' %}
{% elif content == 'nosotros_content' %}
    {% include 'interfaz/nosotros_content.html' %}
{% elif content == 'ayuda_content' %}
    {% include 'interfaz/ayuda_content.html' %}
{% elif content == 'contacto_content' %}
    {% include 'interfaz/contacto_content.html' %}
{% endif %}
{% endblock  %}

{% block footer %}
<footer class="footer-distributed">
    <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a href="/">Inicio</a>
            ·
            <a href="/nosotros/">Nosotros</a>
            ·
            <a href="/ayuda/">Ayuda</a>
            ·
            <a href="/contacto/">Contacto</a>
        </p>
        <p>Organizador © 2020</p>
    </div>
</footer>
{% endblock %}