{% extends 'base/base.html' %}

{% load static %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse form-inline" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link" href="#"><h2>Organizador</h2><span class="sr-only">(current)</span></a>
        </ul>
        <ul class="navbar-nav mr-inline">
            <li class="nav-item">
                <a class="btn btn-primary btn-outline-secondary btn-lg" href="register/">Registrarse</a>
                <a class="btn btn-primary btn-outline-secondary btn-lg" href="login/">Iniciar Sesión</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <h1 class="display-3">Bienvenido!</h1>
    <p class="lead">Bienvenido a 'xxxx', un organizador para su hogar</p>
    <hr class="my-4">
    <p>Aquí podrá organizar completamente su actividad hogareña, que simplificara su existencia</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </p>
</div>

{% endblock header %}