<form method="post" name="cuentas" id="id_cuentas">
    {% csrf_token %}
    <h2>Pagar Cuentas.</h2>

    <!-- seleccion de usuario -->
    <label for="cuentas_usuario">Asignar a usuario.</label>
    <select name="usuario" class="form-control" required id="cuentas_usuario">
        {% for item in usuarios %}
            <option>{{ item }}</option>
        {% endfor %}
        <option>Todos de forma rotativa</option>
    </select>

    <!-- fecha a pagar (radio) -->
    <label for="cuentas_periodicidad">Fecha a pagarse.</label>
    <div class="form-group" id="cuentas_periodicidad">
        <div class="custom-control custom-radio">
            <input type="radio" id="cuentas_radio_1" name="customRadio" class="custom-control-input" checked="">
            <label class="custom-control-label" for="cuentas_radio_1">Pagar a fin de mes.</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="cuentas_radio_2" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="cuentas_radio_2">Pagar a la quincena.</label>
        </div>
    </div>
    <input type="hidden" name="identificador" value="cuentas">
    <button type="submit" class="btn btn-primary" style="font-size: 15px;">Añadir distribución <i class="fa fa-bell"></i></button>
</form>