<form method="post" name="limpieza" id="id_limpieza">
    {% csrf_token %}
    <h2>Limpiar.</h2>

    <!-- seleccion de usuario -->
    <label for="limpieza_usuario">Asignar a usuario.</label>
    <select name="usuario" class="form-control" required id="limpieza_usuario">
        {% for item in usuarios %}
            <option>{{ item }}</option>
        {% endfor %}
        <option>Todos de forma rotativa</option>
    </select>

    <!-- seleccion de dependencia -->
    <label for="limpieza_dependencia">Dependencia a limpiar.</label>
    <select name="dependencia" class="form-control" required="" id="limpieza_dependencia">
        {% for item in pertenece_dependencia %}
            <option>{{ item }}</option>
        {% endfor %}
        <option>Todas de forma rotativa</option>
    </select>

    <!-- duracion -->
    <label for="limpieza_duracion">Duración de limpieza.</label>
    <input type="time" name="duracion" value="0" class="form-control" required="" id="limpieza_duracion">

    <!-- hora -->
    <label for="limpieza_hora">Hora de limpieza.</label>
    <input type="time" name="hora" value="0" class="form-control" required="" id="limpieza_hora">

    <!-- periocidad (radio) -->
    <label for="limpieza_periodicidad">Periodicidad.</label>
    <input type="hidden" value="Toda la semana" id="id_radio_periodicidad" name="radio_value">
    <div class="form-group" id="limpieza_periodicidad">
        <div class="custom-control custom-radio">
            <input type="radio" id="limpiar_radio_1" name="customRadio" class="custom-control-input" checked="" onclick="radio_change_periodicidad('Toda la semana');">
            <label class="custom-control-label" for="limpiar_radio_1">Toda la semana.</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="limpiar_radio_2" name="customRadio" class="custom-control-input" onclick="radio_change_periodicidad('Cada dos dias');">
            <label class="custom-control-label" for="limpiar_radio_2">Cada dos dias.</label>
        </div>
    </div>
    <input type="hidden" name="identificador" value="limpiar">
    <button type="submit" class="btn btn-primary" style="font-size: 15px;">Añadir distribución <i class="fa fa-bell"></i></button>
</form>

<script type="text/javascript">
    function radio_change_periodicidad(param) {
        document.getElementById('id_radio_periodicidad').value = param;
    }
</script>